/* Color added for body text and background */
body {
    font-family: 'Roboto' , sans-serif;
    background: #fffacd;
    color: #36529e;
    height: auto;
    width: auto;
    line-height: 1.8;
    padding: 1rem;
}
/* Heading of each section */
h3 {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
}
/*visual identity improved for introduction section*/
#intro {
    border: 2px dotted blue;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
}
/*styles added to logo image*/
figure {
    box-shadow: 0 0 15px #000;
    height: 10rem;
    width: auto;

}
figure img {
    height: 7.5rem;
    width: auto;
}

table,th,td {
    border: 1px solid #000;

}
nav {
    display: flex;
    gap: 1rem;
    
}
nav a {
    text-decoration: none;
    color: lightcoral;
    border: 1px solid lightcoral;
    padding: 5px;
}
nav a:hover {
    color: darkcyan;
    border-color: darkcyan;
}
#contact p {
    text-align: center;

}
footer {
    text-align: center;
}

.morning {
    color: rgb(239, 191, 103);

}
.evening {
    color: rgb(183, 225, 97);
}
.afternoon {
    color: rgb(246, 83, 83);
}

@media (width <= 768px) {
    .portfolio_screenshot {
        height: 500px;
        width: 500px;
        max-width: 90%;
     
    } 
 }